/* Import de mes variables */
@use './variables' as *;

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

div#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.primaryBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: $white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all .3s;

    span {
        text-wrap: nowrap;
        font-weight: 500;
        font-size: 15px;
        color: $dark;
    }

    svg {
        width: 20px;
        height: 20px;
        path {
            stroke: $dark;
        }
    }

    &:hover {
        background-color: $hover;
    }
}

.secondaryBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $white, $alpha: 0);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all .3s;

    span {
        text-wrap: nowrap;
        font-weight: 500;
        font-size: 15px;
        color: $white;
    }

    &:hover {
    background-color: rgba($color: $white, $alpha: 0.3);

    }
}

h3 {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    padding: 8px 12px;
    border-radius: 16px;
    background-color: $primary;
}


/* Hero section */
main {width: 100%;}
section.hero {
    background-image: url('../img/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


    /* Header */
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        nav.desktopNav {
            width: 1140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.5rem 0;
            border-bottom: 1px solid $border;
            position: relative;

            a {
                .logoOdoo {
                    width: 88px;
                }
            }

            .links {
                display: flex;
                align-items: center;
                gap: 32px;
                color: $white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
            }

        }
    }
    
    .heroContainer {
        width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 40%;
            gap: 40px;
            color: $white;

            h1 {
                font-weight: 600;
                font-size: 48px;
                width: 70%;
                line-height: 150%
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 180%;
                width: 70%;
                color: $white;
            }

            .bigCta {
                background-color: $white;
                border-radius: 8px;
                border: none;
                padding: 20px 32px;
                display: flex;
                align-items: center;
                gap: 16px;
                transition: all .2s;

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
                span.icon {
                    font-weight: 600;
                    font-size: 24px;
                }

                &:hover {
                    background-color: $hover;
                }
            }

            .trustedBy {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 32px;
                margin-top: 16px;

                span {
                    text-wrap: nowrap;
                    font-weight: 500;
                    font-size: 13px;
                }

                img {
                    height: 28px;
                }
            }

        }

        .right {
            width: 40%;

            .cardHero {
                width: 100%;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
                padding: 32px;
                border-radius: 12px 12px 120px 12px;

                .subtitle {
                    font-size: 18px;
                    font-weight: 500;
                    color: $dark;
                }

                .top {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .thirdBtn {
                        padding: 8px 16px;
                        border: 2px solid $border;
                        color: $text;
                        font-size: 12px;
                        font-weight: 400;
                        border-radius: 8px;
                        background-color: $white;
                        transition: all .2s;

                        &:hover {
                            background-color: $hover;
                        }
                    }
                }

                img {
                    width: 100%;
                }

                .bill {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 8px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $hover;

                    .topBill {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .price {
                            font-size: 16px;
                            font-weight: 400;
                            color: $dark;
                        }
                        
                    }

                    p {
                        color: $text;
                    }
                }

                a {
                    width: auto;
                    display: flex;
                    justify-content: start;
                    align-items: end;
                    padding-bottom: 4px;
                    border-bottom: 2px dashed $primary;
                    gap: 2px;
                    transition: all .2s;

                    span {
                        text-wrap: nowrap;
                        font-size: 14px;
                        color: $primary;
                    }

                    svg {
                        height: 16px;

                        path {
                            stroke: $primary;
                            stroke-width: 2px;
                        }
                    }

                    &:hover {
                        gap: 8px;
                    }
                }

            }
        }
    }
}

.awardsSection {
    width: 100%;
    background-image: url('../img/awards-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 0 160px 0;
    gap: 64px;

    .awardsTop {
        padding-left: calc( (100vw - 1140px) / 2 );
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 24px;

        p {
            font-size: 20px;
            color: $dark;
            font-weight: 400;
        }
    }

    .awardWinners {
        padding-left: calc( (100vw - 1140px) / 2 );
        display: flex;
        gap: 32px;
        width: 100%;
        padding-right: 40px;

        .card:nth-child(odd) {
            margin-top: 64px;
        }

        .card {
            background-color: $white;
            box-shadow: 0 0 10px rgba($color: $dark, $alpha: 0.2);
            width: 20%;
            padding: 40px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 300px;

            p {
                color: $text;
                line-height: 150%;
                font-size: 16px;
                text-align: center;
            }

            a {
                padding-bottom: 4px;
                border-bottom: 3px solid $dark;
                color: $dark;
                transition: all .1s;

                &:hover {
                    padding-bottom: 2px;
                    border-bottom: 5px solid $primary-dark;
                    color: $primary-dark;
                }
            }

            img {
                width: 75%;
            }
        }

        .ratingCard {
            .stars {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 0;

                svg {
                    width: 24px;
                }

                .yellowStar {
                    path{
                        stroke: $yellow;
                    }
                }
                .greyStar {
                    path{
                        stroke: lightgrey;
                    }
                }
            }

            p.rating {
                color: $dark;
                font-size: 20px;
                font-weight: 500;
            }

            p.ratingSource {
                color: $text;
                font-size: 16px;
                font-weight: 300;
            }
        }

    }
}

.faqSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 80px 0;

    .faqTop {
        width: 1140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        p.title {
            color: $dark;
            font-weight: 400;
            font-size: 40px;
        }

        p {
            color: $text;
            font-size: 20px;
            font-weight: 300;
        }
    }

    .questions {
        width: 1140px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        .questionsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            gap: 32px;

            .question {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 24px;
                border-radius: 8px;
                border: none;
                background-color: $white;
                box-shadow: 0 0 10px rgba($color: $dark, $alpha: 0.2);
                transition: all .2s;

                .questionAndIcon {
                    display: flex;
                    align-items: end;
                    gap: 8px;

                    svg {
                        height: 20px;
                        path {
                            fill: $dark;
                        }
                    }
                    span {
                        font-size: 16px;
                        color: $dark;
                    }
                }

                .seeMore {
                    font-size: 20px;
                    color: $dark;
                }

                &:hover {
                    box-shadow: 0 0 10px rgba($color: $dark, $alpha: 0.4);
                }
            }
        }
    }
}

.ctaSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 80px 0;

    p {
        color: $dark;
        font-weight: 300;
        font-size: 24px;
    }

    .cta {
        display: flex;
        align-items: center;
        gap: 32px;

        .buy {
            background-color: $primary;
            border: none;
            border-radius: 8px;
            display: flex;
            align-items: end;
            gap: 16px;
            padding: 16px 32px;
            transition: all .2s;

            span {
                text-wrap: nowrap;
                color: $white;
                font-size: 16px;
                font-weight: 400;
            }
            svg {
                height: 18px;
            }

            &:hover {
                background-color: $primary-dark;
            }
        }

        .learnMore {
            background-color: $white;
            padding: 16px 32px;
            border: none;
            border-radius: 8px;
            color: $dark;
            font-size: 16px;
            font-weight: 400;
            transition: all .2s;

            &:hover {
                background-color: $hover;
            }
        }
    }
}

footer {
    background-image: url('../img/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;

    .footerContainer {
        width: 1140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 140px;

        .separator {
            height: 1px;
            width: 100%;
            background: linear-gradient(90deg, #161348 10%, $footer 50%, #161348 90%);
        }

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .topLeft {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 16px;
                color: $white;

                h2 {
                    font-weight: 400;
                    font-size: 32px;
                }
                p {
                    font-weight: 300;
                    font-size: 20px;
                    color: $light;
                }
            }

            .topRight {
                display: flex;
                align-items: center;
                gap: 16px;

                .docBtn {
                    background-color: $white;
                    border-radius: 8px;
                    border: none;
                    display: flex;
                    align-items: end;
                    gap: 8px;
                    padding: 16px 24px;
                    transition: all .2s;

                    span {
                        font-weight: 500;
                        color: $dark;
                        font-size: 15px;
                        line-height: 20px;
                    }

                    svg {
                        height: 20px;
                    }

                    &:hover {
                        background-color: $hover;
                    }
                }

                .purchaseBtn {
                    background-color: $primary;
                    border: none;
                    border-radius: 8px;
                    color: $white;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 16px 24px;
                    line-height: 20px;
                    transition: all .2s;

                    &:hover {
                        background-color: $primary-dark;
                    }
                }
            }
        }

        .mid {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .midLeft {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 20px;

                a {
                    width: 88px;
                    img {
                        width: 100%;
                    }
                }
                p {
                    width: 70%;
                    color: $footer;
                    font-weight: 400;
                    line-height: 180%;
                }
                .logos {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 40px;

                    a {
                        width: 16px;

                        img {
                            width: 100%;
                        }
                    }

                }
            }

            .midRight {
                width: 50%;
                display: flex;
                align-items: start;
                justify-content: start;

                .column {
                    display: flex;
                    flex-direction: column;
                    width: 33%;
                    gap: 8px;
                    
                    p {
                        color: $white;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 8px;
                    }
                    a {
                        color: $footer;
                        transition: all .2s;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;

            p {
                color: $footer;
                span {
                    color: $white;
                }
            }
            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                
                a {
                    color: $footer;
                    transition: all .2s;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}